<div class="menubar">
  <ul>
    <li><a routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         routerLink="/">หน้าหลัก</a>
    </li>

    <li style="float:right">
      <a routerLinkActive="active"
         routerLink="/register">
         <span class="glyphicon glyphicon-user"></span> ลงทะเบียนผู้ใช้</a>
    </li>
    <li style="float:right">
      <a routerLinkActive="active"
         routerLink="/login">
           <span class="glyphicon glyphicon-log-in"></span> เข้าสู่ระบบ</a>
    </li>
  </ul>
</div>
