<div class="row overide-row">
    <div class="col-xs-12">
        <p-dataTable [value]="documentList" [immutable]=false>
            <p-column>
                <ng-template let-col let-obj="rowIndex" pTemplate="body">
                    {{obj+1}}
                </ng-template>
            </p-column>
            <p-column header="รายการเอกสาร">
                <ng-template let-col let-obj="rowData" pTemplate="body">
                    {{obj.document_name}}
                </ng-template>
            </p-column>
            <p-column header="สถานะ">
                <ng-template let-col let-obj="rowData" pTemplate="body">
                    <label pButton class="btn-positive" label="อัพโหลด" (change)="upload($event, obj.document_ref)">
                        <input type="file"
                          accept="image/*, application/pdf"
                          class="display-none">
                          </label>
                </ng-template>
            </p-column>
            <p-column>
                <ng-template let-col let-obj="rowData" pTemplate="body">

                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" (click)="onNext()" label="ถัดไป" pButton></button>
        </div>
    </div>
</div>