<div class="row overide-row">
    <div class="col-xs-12">
        <div class="row overide-row">
            <div class="col-xs-3">
                <label class="normal">รายรับ</label>
                <input type="number" name="" id="" [(ngModel)]="applyScholarship.applyScholarshipForm.apFamilyFinancial.income_monthly" pInputText>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
                <label for="" class="normal">รายจ่าย</label>
                <input type="number" name="" id="" [(ngModel)]="applyScholarship.applyScholarshipForm.apFamilyFinancial.expense_monthly" pInputText>
            </div>
        </div>
        <div class="row overide-row">
            <div class="col-xs-12">
                <label class="normal">ภาระหนี้สินครอบครัว</label>
                <p-dataTable [value]="debtList" [immutable]=false>
                    <p-column [sortable]="true" header="ลำดับ" field="seq">
                        <ng-template let-col let-obj="rowData" pTemplate="body">
                            {{obj.seq}}
                        </ng-template>
                    </p-column>
                    <p-column [sortable]="true" header="รายละเอียด" field="debt_detail">
                        <ng-template let-col let-obj="rowData" pTemplate="body">
                            <input type="text" [(ngModel)]="obj.debt_detail" size="10" pInputText>
                        </ng-template>
                    </p-column>
                    <p-column [sortable]="true" header="จำนวน" field="debt_amount">
                        <ng-template let-col let-obj="rowData" pTemplate="body">
                            <input type="text" [(ngModel)]="obj.debt_amount" size="10" pInputText>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="col-button">
                        <ng-template pTemplate="header">
                            <button type="button" pButton icon="fa-plus" (click)="addRow()" style="float:right"></button>
                        </ng-template>
                        <ng-template pTemplate="body" let-obj="rowData">
                            <button type="button" pButton icon="fa-minus" (click)="deleteRow(obj)" style="float:right"></button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>
<div class="row formFooter overide-row">
    <div class="col-xs-12">
        <button pButton type="button" class="btn-primary" (click)="onNext()" label="ต่อไป" style="float:right;"></button>
        <button pButton type="button" class="ui-button-warning" (click)="onPrevious()" label="กลับ" style="float:right;"></button>
    </div>
</div>