.menuside {
  /*PADDING : TOP RIGHT BOTTOM LEFT*/
  padding:20px 20px 5px 35px;
}

.sidebar-header {
  font-size: 25px;
  font-weight: 600;
  color: #aa0000;
  margin-bottom: 5px;
}
p{
  margin-bottom: 0;
}

div.underline {
  height: 1px;
  width: 100%;
  background-color: #aa0000;
}

.ui-menuitem-text{
  font-size: 20px !important;
}
