<div class="row overide-row">
    <!-- content -->
    <div class="col-xs-9">
        <div class="row overide-row">
            <div class="col-xs-6">
                <label class="normal">เลขประจำตัวประชาชน</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.acStudent.personal_id}}</label>
                </div>
            </div>

            <div class="col-xs-6">
                <label class="normal">รหัสนักศึกษา</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.acStudent.student_id}}</label>
                </div>
            </div>
        </div>

        <!-- ////////////////////////////////////////////////////// -->
        <div class="row overide-row">
            <div class="col-xs-4">
                <label class="normal">ชื่อ-สกุลนักศึกษา</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.acStudent.first_name_t}}</label>
                </div>
            </div>

            <div class="col-xs-2">
                <label class="normal">เพศ</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.acStudent.gender}}</label>
                </div>
            </div>

            <div class="col-xs-3">
                <label class="normal">วันเกิด</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.acStudent.birth_date}}</label>
                </div>
            </div>

            <div class="col-xs-3">
                <label class="normal">อายุ</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.age}} ปี</label>
                </div>
            </div>
        </div>

        <!-- ////////////////////////////////////////////////////// -->

        <div class="row overide-row">
            <div class="col-xs-4">
                <label class="normal">สัญชาติ</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.acStudent.nationality}}</label>
                </div>
            </div>

            <div class="col-xs-2">
                <label class="normal">เชื้อชาติ</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.acStudent.race}}</label>
                </div>
            </div>

            <div class="col-xs-6">
                <label class="normal">ศาสนา</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.acStudent.religion}}</label>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////// -->
        <div class="row overide-row">
            <div class="col-xs-6">
                <label class="normal">สำนักวิชา</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.rftSchool.school_name_t}}</label>
                </div>
            </div>

            <div class="col-xs-6">
                <label class="normal">สาขาวิชา</label>
                <div class="info">
                    <label>{{applyScholarship.applyScholarshipForm.rftMajor.major_name_t}}</label>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////// -->
        <div class="row overide-row">
            <div class="col-xs-4">
                <label class="normal">ชั้นปีการศึกษา</label>
                <div>
                    <p-dropdown [options]="collageYears" [(ngModel)]="applyScholarship.applyScholarshipForm.apApplication.collage_year" [style]="{'width':'50px'}"></p-dropdown>
                </div>
            </div>
            <div class="col-xs-2">
                <label class="normal">GPAX</label>
                <div>
                    <input class="normal" type="text" [(ngModel)]="applyScholarship.applyScholarshipForm.apApplication.gpax" id="gpax" size="5" maxlength="5" pInputText>
                </div>
            </div>
            <div class="col-xs-6">
                <label class="normal">อาจารย์ที่ปรึกษา</label>
                <div>
                    <input [(ngModel)]="applyScholarship.applyScholarshipForm.apApplication.advisor_name" name="advisor_name" class="normal" type="text" id="ta" size="50" maxlength="50" pInputText>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////// -->
        <div class="row overide-row">
            <div class="col-xs-4">
                <label class="normal">เบอร์โทรศัพท์</label>
                <div>
                    <input [(ngModel)]="applyScholarship.applyScholarshipForm.acStudent.phone_no" name="phone_no" class="normal" type="tel" id="tel" size="10" maxlength="10" pInputText>
                </div>
            </div>
            <div class="col-xs-8">
                <label class="normal">Email</label>
                <div>
                    <input [(ngModel)]="applyScholarship.applyScholarshipForm.acStudent.email" name="email" class="normal" type="text" id="email" size="50" maxlength="50" pInputText>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////// -->
    </div>
    <!-- picture -->
    <div class="col-xs-3">
        <div class="col-xs-12">
            <img src="{{ image }}" class="image-preview">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="content">
            <div class="content-header-blue-normal">
                <p>ความเป็นอยู่ของนักศึกษา</p>
                <div class="underline-blue"></div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-12">
                    <label class="normal" style="padding-left: 20px">กรุณาเขียนบรรยายความเป็นอยู่ของนักศึกษา</label>
                    <div style="padding-left: 20px">
                        <textarea pInputTextarea [(ngModel)]="applyScholarship.applyScholarshipForm.apApplication.livelihood" name="livelihood" autoResize="autoResize" cols="95" rows="20">
        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button pButton type="button" class="btn-primary" (click)="onNext()" label="ต่อไป" style="float:right;"></button>
    </div>
</div>