<!-- mode insert -->
<div class="content" *ngIf="mode !== 'S'">
  <div class="content-header-blue">
    <p>ข้อมูลสาขาวิชา</p>
    <div class="underline-blue"></div>
  </div>


  <p-growl [(value)]="msgs" ></p-growl>
  <!-- mode insert -->
  <form [formGroup]="majorFormGroup" (ngSubmit)="onSubmit()" >

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">สำนักวิชา</label>
        <div>
          <p-autoComplete
            formControlName="school_ref"
            name="school_name_t"
            field="school_name_t"
            [(ngModel)]="rftSchool"
            [suggestions]="rftSchools"
            (completeMethod)="autocompleteMethod($event)"
            [size]="50"
            [dropdown]="true"
            (onDropdownClick)="handleCompleteClick($event)">
            <ng-template let-obj
                    pTemplate="item">
            {{obj.school_name_t}}
            </ng-template>
          </p-autoComplete>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-xs-8">
        <label class="normal">รหัสสาขาวิชา</label>
        <div>
          <input
            class="normal"
            type="text"
            formControlName="major_code"
            name="major_code"
            id="majorCode"
            size="15"
            maxlength="10"
            pTooltip="กรุณากรอกรหัสสาขาวิชาเป็นตัวเลข"
            tooltipEvent="focus"
            showDelay="500"
            hideDelay="100"
            pInputText>
        </div>
        <div style="margin-top: 5px">
          <span class="ui-message ui-messages-error ui-corner-all"
          *ngIf="!majorFormGroup.get('major_code').valid  && majorFormGroup.get('major_code').dirty && majorFormGroup.get('major_code').value != ''" >รหัสสาขาวิชาต้องเป็นตัวเลขเท่านั้น</span>
        </div>
      </div>
      <div class="col-xs-4">
        <label class="normal">สถานะ</label>
        <div>
          <p-dropdown
            name="active_flag"
            formControlName="active_flag"
            [options]="statusList"
						[style]="{'width':'150px'}">
          </p-dropdown>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">ชื่อสาขาวิชา (ภาษาไทย)</label>
        <div>
          <input
            class="normal"
            type="text"
            formControlName="major_name_t"
            name="major_name_t"
            id="majorNameT"
            size="50"
            maxlength="50"
            pInputText>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">ชื่อสาขาวิชา (ภาษาอังกฤษ)</label>
        <div>
          <input
            class="normal"
            type="text"
            name="major_name_e"
            formControlName="major_name_e"
            id="majorNameE"
            size="50"
            maxlength="50"
            pInputText>
        </div>
      </div>
    </div>



    <div class="space"></div>
    <div class="row">
      <div class="col-xs-12">
        <button pButton
          type="submit"
          class="btn-positive"
          label="บันทึก"
          [disabled]="!majorFormGroup.valid">
        </button>
        <button pButton
          type="button"
          class="btn-normal"
          (click)="onResetEdit();"
          label="เริ่มใหม่"></button>

        <button pButton
          type="button"
          style="float: right;"
          class="btn-negative"
          (click)="onPageSearch()"
          label="กลับ"></button>
      </div>
    </div>

  </form>

</div>




<!-- mode search -->
<div class="content"  *ngIf="mode === 'S'">
  <div class="content-header-blue" >
    <p>ค้นหาข้อมูลสาขาวิชา</p>
    <div class="underline-red"></div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <label class="normal">ชื่อสำนักวิชา (ภาษาไทย)</label>
      <div>
        <input
          class="normal"
          type="text"
          name="schoolNameT"
          id="schoolNameT"
          size="50"
          maxlength="50"
          [(ngModel)]="majorCriteriaForm.rftSchool.school_name_t"
          pInputText>
      </div>
    </div>

    <div class="col-xs-6">
        <label class="normal">ชื่อสาขาวิชา (ภาษาไทย)</label>
        <div>
          <input
            class="normal"
            type="text"
            name="major_name_t"
            id="majorNameT"
            size="50"
            maxlength="50"
            [(ngModel)]="majorCriteriaForm.rftMajor.major_name_t"
            pInputText>
        </div>
      </div>
  </div>

  <div class="space"></div>
  <div class="row">
    <div class="col-xs-12">
      <button pButton
        type="button"
        (click)="onSearch()"
        class="btn-positive"
        label="ค้นหา">
      </button>
      <button pButton
        type="button"
        class="btn-normal"
        (click)="onResetSearch()"
        label="เริ่มใหม่">
      </button>
      <button pButton
        type="button"
        style="float: right;"
        class="btn-negative"
        (click)="onPageInsert()"
        label="สร้างใหม่">
      </button>
    </div>
  </div>

  <div class="space"></div>
  <div class="row">
    <p-dataTable
      [value]="majorFormList"
      selectionMode="single"
      [(selection)]="selectMajor"
      [rows]="10"
      [paginator]="true"
      [rowsPerPageOptions]="[5,10,20]"
      (onRowSelect)="onRowSelect($event)"
      dataKey="rftMajor.major_ref"
      sortMode="multiple">
      <p-column [sortable]="true" field="rftMajor.major_code" header="รหัสสาขาวิชา"></p-column>
      <p-column [sortable]="true" field="rftSchool.school_name_t" header="ชื่อสำนักวิชา (ภาษาไทย)"></p-column>
      <p-column [sortable]="true" field="rftMajor.major_name_t" header="ชื่อสาขาวิชา (ภาษาไทย)"></p-column>
      <p-column [sortable]="true" field="rftMajor.major_name_e" header="ชื่อสาขาวิชา (ภาษาอังกฤษ)"></p-column>
    </p-dataTable>
  </div>
</div>

