<div class="content">
  <div class="content-header-red">
    <p>เข้าใช้งาน MFU scholarship ใหม่?</p>
    <div class="underline-red"></div>
  </div>

  <p style="font-size: 16px;
      font-family: SSpace;">
    สร้างบัญชีผู้ใช้ตอนนี้
  </p>


  <div class="row">
    <div class="col-xs-9">


      <div class="row">
        <div class="col-xs-6">
          <label class="normal"> เลขประชาชน/พาสปอร์ต *</label>
          <div>
            <input [(ngModel)]="reguserForm.acStudent.personalId"
                   name="inputPersonalId"
                   type="text"
                   size="20"
                   pInputText>
          </div>
        </div>
        <div class="col-xs-6">
            <label class="normal"> รหัสนักศึกษา *</label>
            <div>
              <input [(ngModel)]="reguserForm.acStudent.studentId"
                     name="inputstudentId"
                     type="text"
                     size="20"
                     pInputText>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
            <label class="normal">เพศ</label>
            <div class="col-xs-12">
              <p-radioButton name="gender"
              value="M"
              label="ชาย"
              [(ngModel)]="reguserForm.acStudent.gender"
              inputId="opt1"></p-radioButton>
              <p-radioButton name="gender"
              value="F"
              label="หญิง"
              [(ngModel)]="reguserForm.acStudent.gender"
              inputId="opt2"></p-radioButton>
            </div>
        </div>
        <div class="col-xs-6">
            <label class="normal">วันเกิด</label>
            <div>
              <p-dropdown name="DaybdName"
                          [options]="daybdList"
                          [(ngModel)]="DaybdValue"
                          [style]="{'width':'80px'}">
              </p-dropdown>
              <p-dropdown name="MonthbdName"
                [options]="monthbdList"
                [(ngModel)]="MonthbdValue"
                [style]="{'width':'100px'}">
              </p-dropdown>
              <p-dropdown name="YearbdName"
                [options]="yearbdList"
                [(ngModel)]="YearbdValue"
                [style]="{'width':'80px'}">
               </p-dropdown>
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
              <label class="normal">คำนำหน้า *</label>
              <div>
                <p-dropdown name="title"
                [options]="titleList"
                [(ngModel)]="reguserForm.acStudent.titleRef"
                [style]="{'width':'150px'}">
              </p-dropdown>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
            <label class="normal"> ชื่อ ไทย </label>
            <div>
              <input [(ngModel)]="reguserForm.acStudent.firstNameT"
                     name="inputfirstnameT"
                     type="text"
                     size="25"
                     pInputText>
            </div>
        </div>
        <div class="col-xs-6">
            <label class="normal"> นามสกุล ไทย </label>
            <div>
              <input [(ngModel)]="reguserForm.acStudent.lastNameT"
                     name="inputlastnameT"
                     type="text"
                     size="25"
                     pInputText>
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-6">
              <label class="normal"> ชื่อ อังกฤษ </label>
              <div>
                <input [(ngModel)]="reguserForm.acStudent.firstNameE"
                       name="inputfirstnameE"
                       type="text"
                       size="25"
                       pInputText>
              </div>
          </div>
          <div class="col-xs-6">
              <label class="normal"> นามสกุล อังกฤษ </label>
              <div>
                <input [(ngModel)]="reguserForm.acStudent.lastNameE"
                       name="inputlastnameE"
                       type="text"
                       size="25"
                       pInputText>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
              <label class="normal">สำนักวิชา *</label>
              <div>
                <p-dropdown name="school"
                [options]="schoolList"
                [(ngModel)]="reguserForm.acStudent.schoolRef"
                [style]="{'width':'225px'}">
              </p-dropdown>
            </div>
          </div>
          <div class="col-xs-6">
              <label class="normal">สาขาวิชา *</label>
              <div>
                <p-dropdown name="major"
                [options]="majorList"
                [(ngModel)]="reguserForm.acStudent.majorRef"
                [style]="{'width':'225px'}">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
              <label class="normal"> สัญชาติ *</label>
              <div>
                <input [(ngModel)]="reguserForm.acStudent.nationality"
                       name="inputnationality"
                       type="text"
                       size="25"
                       pInputText>
              </div>
          </div>
          <div class="col-xs-6">
              <label class="normal"> เชื้อชาติ *</label>
              <div>
                <input [(ngModel)]="reguserForm.acStudent.race"
                       name="inputrace"
                       type="text"
                       size="25"
                       pInputText>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
              <label class="normal"> ศาสนา *</label>
              <div>
                <input [(ngModel)]="reguserForm.acStudent.religion"
                       name="inputreligion"
                       type="text"
                       size="25"
                       pInputText>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
              <label class="normal"> เบอร์โทรศัพท์ *</label>
              <div>
                <input [(ngModel)]="reguserForm.acStudent.phoneNo"
                       name="inputphoneNo"
                       type="text"
                       size="25"
                       pInputText>
              </div>
          </div>
          <div class="col-xs-6">
              <label class="normal"> อีเมล *</label>
              <div>
                <input [(ngModel)]="reguserForm.acStudent.email"
                       name="inputemail"
                       type="text"
                       size="25"
                       pInputText>
              </div>
          </div>
        </div>

        <div class="space"></div>

        <div class="row">
          <div class="col-xs-12">
            <button pButton
            type="submit"
            class="btn-positive"
            label="สร้างบัญชีผู้ใช้"></button>
            <button pButton
            type="button"
            class="btn-negative"
            label="ยกเลิก"></button>
            </div>
        </div>

    </div>

    <div class="col-xs-3">
      	<div class="row center">
            <img src="{{ image }}"
            class="image-preview">
          </div>
          <div class="row center">
            <label pButton
                   class="btn-positive"
                   label="เลือกไฟล์"
                   (change)="onUpload($event)">
                 <input type="file" accept="image/*, application/pdf" class="display-none">
               </label>
          </div>
    </div>
  </div>



</div>
