<div class="row">
  <div class="col-xs-4">
    <app-input-text></app-input-text>
    <app-autocomplete></app-autocomplete>
    <app-textarea></app-textarea>
    <app-checkbox></app-checkbox>
  </div>
  <div class="col-xs-4">
    <app-calendar></app-calendar>
    <app-dropdown></app-dropdown>
    <app-slider></app-slider>
  </div>
  <div class="col-xs-4">
    <app-upload-file></app-upload-file>
  </div>
</div>
<div class="row"
     style="padding-top:30px;">
  <app-button></app-button>
</div>
<div class="row"
     style="padding-top:50px;">
  <app-datatable-normal></app-datatable-normal>
</div>


<div class="row"
style="padding-top:50px;">
<app-step></app-step>
</div>
