<div class="container-fixed" style="margin:auto;">
  <div class="col-xs-12" style="height: 15px;">
  </div>
  <div class="jumbotron">
    <div class="container">
      <p style="margin: 0px; font-size: 18px;padding-left: 3px;color:#696969;">
        SCHOLARSHIPS
      </p>
      <p style="margin-top: -18px; font-size: 50px;color:#aa0000;">
        <strong>MAE FAH LUANG</strong>
      </p>
      <p style="margin-top: -38px;font-size: 30px;padding-left: 90px;font-weight: 200;color:#a10103;">
        U N I V E R S I T Y
      </p>
    </div>
  </div>
</div>
