<!-- header -->
<div class="content">
  <div class="content-header-blue">
    <p>ข่าวสาร</p>
    <div class="underline-blue"></div>
  </div>
</div>

<div class="content" style="display: block;">
  <div class="row content" style="padding-bottom:5px;" *ngFor="let i of arrnum">
    <div class="col-xs-4">
         <img width="300" height="200" src="http://france.mfu.ac.th/images2015/cover/2017-09-25/Set_19th_Cover_web-2017-09-04-02.png">
    </div>    
    <div class="col-xs-8" style="height:200px;">
        <div class="content-header-red">
          <p>title</p>
        </div>
        <div>news detail</div>
        <div style="position:absolute;
    bottom:0;">Publish-date</div>
    </div>      
  </div>  
  
</div>