<div class="content" *ngIf="mode !== 'S'">
  <div class="content-header-blue">
    <p>ข้อมูลสำนักวิชา</p>
    <div class="underline-blue"></div>
  </div>


  <p-growl [(value)]="msgs" ></p-growl>

  <form [formGroup]="schoolFg" (ngSubmit)="onAddSchool()" >
    <div class="row" >
      <div class="col-xs-8">
        <label class="normal">รหัสสำนักวิชา</label>
        <div>
          <input
            class="normal"
            type="text"
            formControlName="school_code"
            name="school_code"
            id="schoolCode"
            size="15"
            maxlength="10"
            [(ngModel)]="schoolForm.rftSchool.school_code"
            pTooltip="กรุณากรอกรหัสสำนักวิชาเป็นตัวเลข"
            tooltipEvent="focus"
            showDelay="500"
            hideDelay="100"
            pInputText>
        </div>
        <div style="margin-top: 5px">
          <span class="ui-message ui-messages-error ui-corner-all"
          *ngIf="!schoolFg.get('school_code').valid  && schoolFg.get('school_code').dirty && schoolFg.get('school_code').value != ''" >รหัสสำนักวิชาต้องเป็นตัวเลขเท่านั้น</span>
        </div>
      </div>
      <div class="col-xs-4">
        <label class="normal">สถานะ</label>
        <div>
          <p-dropdown
            name="active_flag"
            formControlName="active_flag"
            [options]="statusList"
						[(ngModel)]="schoolForm.rftSchool.active_flag"
						[style]="{'width':'150px'}">
          </p-dropdown>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">ชื่อสำนักวิชา (ภาษาไทย)</label>
        <div>
          <input
            class="normal"
            type="text"
            formControlName="school_name_t"
            name="school_name_t"
            id="schoolNameT"
            size="50"
            [(ngModel)]="schoolForm.rftSchool.school_name_t"
            pInputText>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">ชื่อสำนักวิชา (ภาษาอังกฤษ)</label>
        <div>
          <input
            class="normal"
            type="text"
            name="school_name_e"
            formControlName="school_name_e"
            id="schoolNameE"
            size="50"
            maxlength="50"
            [(ngModel)]="schoolForm.rftSchool.school_name_e"
            pInputText>
        </div>
      </div>
    </div>

    <div class="space"></div>
    <div class="row">
      <div class="col-xs-12">
        <button pButton
          type="submit"
          class="btn-positive"
          label="บันทึก"
          [disabled]="!schoolFg.valid">
        </button>
        <button pButton
          type="button"
          class="btn-normal"
          (click)="onResetEdit();"
          label="เริ่มใหม่"></button>

        <button pButton
          type="button"
          style="float: right;"
          class="btn-negative"
          (click)="onPageSearch()"
          label="กลับ"></button>
      </div>
    </div>

  </form>

</div>




<!-- mode search -->
<div class="content"  *ngIf="mode === 'S'">
  <div class="content-header-blue" >
    <p>ค้นหาข้อมูลสำนักวิชา</p>
    <div class="underline-red"></div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <label class="normal">รหัสสำนักวิชา</label>
      <div>
        <input
          class="normal"
          type="text"
          name="school_code"
          id="schoolCode"
          size="15"
          maxlength="10"
          [(ngModel)]="schoolCriteriaForm.rftSchool.school_code"
          pInputText>
      </div>
    </div>
    <div class="col-xs-6">
      <label class="normal">ชื่อสำนักวิชา (ภาษาไทย)</label>
      <div>
        <input
          class="normal"
          type="text"
          name="schoolNameT"
          id="schoolNameT"
          size="50"
          maxlength="50"
          [(ngModel)]="schoolCriteriaForm.rftSchool.school_name_t"
          pInputText>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <label class="normal">สำนักวิชา</label>
      <div>
        <p-autoComplete
          name="school"
          field="shool_name_t"
          [(ngModel)]="rftSchool"
          [suggestions]="rftSchools"
          (completeMethod)="autocompleteMethod($event)"
          [size]="20"
          [dropdown]="true"
          (onDropdownClick)="handleCompleteClick($event)">
          <ng-template let-obj
                pTemplate="item">
            {{obj.school_name_t}}
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
  </div>

  <div class="space"></div>
  <div class="row">
    <div class="col-xs-12">
      <button pButton
        type="button"
        (click)="onSearch()"
        class="btn-positive"
        label="ค้นหา">
      </button>
      <button pButton
        type="button"
        class="btn-normal"
        (click)="onResetSearch()"
        label="รีเซ็ท">
      </button>
      <button pButton
        type="button"
        style="float: right;"
        class="btn-negative"
        (click)="onPageInsert()"
        label="สร้างใหม่">
      </button>
    </div>
  </div>

  <div class="space"></div>
  <div class="row">
    <p-dataTable
      [value]="rftSchoolList"
      selectionMode="single"
      [(selection)]="selectSchool"
      [rows]="10"
      [paginator]="true"
      [rowsPerPageOptions]="[5,10,20]"
      dataKey="rftSchool.school_ref"
      sortMode="multiple">
      <p-column [sortable]="true" field="school_code" header="รหัสสำนักวิชา"></p-column>
      <p-column [sortable]="true" field="school_name_t" header="ชื่อสำนักวิชา (ภาษาไทย)"></p-column>
      <p-column [sortable]="true" field="school_name_e" header="ชื่อสำนักวิชา (ภาษาอังกฤษ)"></p-column>
    </p-dataTable>
  </div>



</div>
