<div class="content">
  <div class="content-header-blue">
    <p>ข้อมูลสำนักวิชา</p>
    <div class="underline-blue"></div>
  </div>



  <form #f="ngForm" (ngSubmit)="onAddSchool(f)" >
    <div class="row">
      <div class="col-xs-8">
        <label class="normal">รหัสสำนักวิชา</label>
        <div>
          <input
            class="normal"
            type="text"
            name="school_ref"
            id="schoolRef"
            size="15"
            required
            maxlength="10"
            [(ngModel)]="schoolForm.rftSchool.school_ref"
            pInputText>
        </div>
      </div>
      <div class="col-xs-4">
        <label class="normal">สถานะ</label>
        <div>
          <p-dropdown
            name="active_flag"
            [options]="statusList"
						[(ngModel)]="schoolForm.rftSchool.active_flag"
						[style]="{'width':'150px'}"
						disabled>
          </p-dropdown>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">ชื่อสำนักวิชา (ภาษาไทย)</label>
        <div>
          <input
            class="normal"
            type="text"
            name="school_name_t"
            id="schoolNameT"
            size="50"
            maxlength="50"
            required
            [(ngModel)]="schoolForm.rftSchool.school_name_t"
            pInputText>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">ชื่อสำนักวิชา (ภาษาอังกฤษ)</label>
        <div>
          <input
            class="normal"
            type="text"
            name="school_name_e"
            id="schoolNameE"
            size="50"
            maxlength="50"
            [(ngModel)]="schoolForm.rftSchool.school_name_e"
            pInputText>
        </div>
      </div>
    </div>

    <div class="space"></div>
    <div class="row">
      <div class="col-xs-12">
        <button pButton
          type="submit"
          class="btn-positive"
          label="บันทึก"
          [disabled]="!f.valid">
        </button>
        <button pButton
          type="button"
          class="btn-normal"
          label="เริ่มใหม่"></button>

        <button pButton
          type="button"
          style="float: right;"
          class="btn-negative"
          label="กลับ"></button>
      </div>
    </div>

  </form>

</div>



<!-- mode search -->
<div class="content">
  <div class="content-header-blue">
    <p>ค้นหาข้อมูลสำนักวิชา</p>
    <div class="underline-red"></div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <label class="normal">รหัสสำนักวิชา</label>
      <div>
        <input
          class="normal"
          type="text"
          name="schoolRef"
          id="schoolRef"
          size="15"
          maxlength="10"
          [(ngModel)]="schoolCriteriaForm.rftSchool.school_ref"
          pInputText>
      </div>
    </div>
    <div class="col-xs-6">
      <label class="normal">ชื่อสำนักวิชา (ภาษาไทย)</label>
      <div>
        <input
          class="normal"
          type="text"
          name="schoolNameT"
          id="schoolNameT"
          size="50"
          maxlength="50"
          [(ngModel)]="schoolCriteriaForm.rftSchool.school_name_t"
          pInputText>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <label class="normal">สำนักวิชา</label>
      <div>
        <p-autoComplete
          name="school"
          field="shool_name_t"
          [(ngModel)]="rftSchool"
          [suggestions]="rftSchools"
          (completeMethod)="autocompleteMethod($event)"
          [size]="20"
          [dropdown]="true"
          (onDropdownClick)="handleCompleteClick($event)">
          <ng-template let-obj
                pTemplate="item">
            {{obj.school_name_t}}
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
  </div>

  <div class="space"></div>
  <div class="row">
    <div class="col-xs-12">
      <button pButton
        type="button"
        (click)="onSearch()"
        class="btn-positive"
        label="ค้นหา">
      </button>
      <button pButton
        type="button"
        class="btn-normal"
        label="รีเซ็ท">
      </button>
      <button pButton
        type="button"
        style="float: right;"
        class="btn-negative"
        label="สร้างใหม่">
      </button>
    </div>
  </div>

  <div class="space"></div>
  <div class="row">
    <p-dataTable
      [value]="schoolList"
      selectionMode="single"
      [(selection)]="selectSchool"
      [rows]="10"
      [paginator]="true"
      [rowsPerPageOptions]="[5,10,20]"
      dataKey="rftSchool.school_ref"
      sortMode="multiple">
      <p-column [sortable]="true" field="rftSchool.school_ref" header="รหัสสำนักวิชา"></p-column>
      <p-column [sortable]="true" field="rftSchool.school_name_t" header="ชื่อสำนักวิชา (ภาษาไทย)"></p-column>
      <p-column [sortable]="true" field="rftSchool.school_name_e" header="ชื่อสำนักวิชา (ภาษาอังกฤษ)"></p-column>
    </p-dataTable>
  </div>



</div>
