<div class="content">
  <div class="content-header-blue">
    <p>บันทึกข้อมูลผู้มีสิทธิ์สัมภาษณ์</p>
    <div class="underline-blue"></div>
  </div>


  <div class="col-xs-12">
    <div class="col-xs-2">
        <label class="normal">ปี *</label>
        <div>
          <input  type="text" id="year" maxlength="5" size="5"
            pInputText>
        </div>
    </div>
    <div class="col-xs-8">
        <label class="normal">ทุนการศึกษา *</label>
      <div>
      <p-dropdown name="scholarship"
      [style]="{'width':'480px'}">
      </p-dropdown>
      </div>
      </div>
    <div class="col-xs-2">
          <label class="normal">รอบ *</label>
            <div>
            <p-dropdown
            [style]="{'width':'70px'}">
            </p-dropdown>
            </div>
          </div>

</div>
