<div class="col-xs-12">
</div>
<p-tabView>
    <p-tabPanel header="ข้อมูลครอบครัว">
        <app-family-information></app-family-information>
    </p-tabPanel>
    <p-tabPanel header="ข้อมูลพี่น้อง">
        <app-sibling-information></app-sibling-information>
    </p-tabPanel>
    <p-tabPanel header="ข้อมูลที่อยู่">
        <app-address-information></app-address-information>
    </p-tabPanel>
</p-tabView>

<div class="space"></div>
<div class="row">
    <div class="col-xs-12" style="text-align:center">
        <button type="button" pButton (click)="onUpdate()" label="แก้ไขข้อมูลครอบครัว"></button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" pButton (click)="onNext()" label="ถัดไป"></button>
    </div>
</div>