<div class="content">
    <div class="content-header-blue">
      <p>ผู้ให้การสนับสนุนทุนการศึกษา</p>
      <div class="underline-blue"></div>

</div>


<div class="row">


  <div class="col-xs-9">
    <div class="col-xs-9">
      <label class="normal">ชื่อผู้สนับสนุน *</label>
      <div>
        <input name="inputTextName" type="text" size="40" pInputText>
      </div>
    </div>
    <div class="col-xs-3">
      <label class="normal">สถานะ *</label>
      <div>
        <p-dropdown name="status" [options]="statusList" [style]="{'width':'120px'}">
        </p-dropdown>
      </div>
    </div>


    <div class="col-xs-12">
      <label class="normal">ที่อยู่ *</label>
      <div>
        <input address="inputTextAddress" type="text" size="74" pInputText>
      </div>
    </div>

    <div class="col-xs-6 normal">
      <label class="normal">จังหวัด *</label>
      <div>
        <p-dropdown name="province" [options]="provinceList" [(ngModel)]="rftProvince" [style]="{'width':'260px'}">
        </p-dropdown>
      </div>
    </div>

    <div class="col-xs-6 normal">
      <label class="normal">อำเภอ *</label>
      <div>
        <p-dropdown name="district" [options]="districtList" [(ngModel)]="rftDistrict" [style]="{'width':'270px'}">
        </p-dropdown>
      </div>
    </div>

    <div class="col-xs-6 normal">
      <label class="normal">ตำบล *</label>
      <div>
        <p-dropdown name="subDistrict" [options]="subDistrictList" [(ngModel)]="rftSubDistrict" [style]="{'width':'260px'}">
        </p-dropdown>
      </div>
    </div>
    <div class="col-xs-6 normal">
      <label class="normal">รหัสไปรษณีย์</label>
      <div>
        <input postcode="inputTextPostcode" type="text" size="20" pInputText></div>
    </div>


    <div class="col-xs-6 normal">
      <label class="normal">เบอร์โทรศัพท์ *</label>
      <div>
        <input phoneNo="inputTextPhoneNo" type="text" size="25" pInputText>
      </div>
    </div>

    <div class="col-xs-6 normal">
      <label class="normal">อีเมลล์</label>
      <div>
        <input email="inputTextEmail" type="text" size="33" pInputText>
      </div>
    </div>

    <div class="col-xs-12 normal">
      <label class="normal">เว็บไซต์ที่ติดต่อได้</label>
      <div>
        <input website="inputTextWebsite" type="text" size="31" pInputText>
      </div>
    </div>


  </div>


  <div class="col-xs-3">
    <div class="col-xs-12">
      <img src="{{ image }}" class="image-preview">
    </div>
    <div class="col-xs-12" style="text-align:center;" >
      <label pButton class="btn-positive" label="เลือกไฟล์" (change)="onUpload($event)">
  <input type="file" accept="image/*, application/pdf" class="display-none">
      </label>
    </div>

  </div>




  <div class="row"></div>
  <div class="row formFooter">
    <div class="col-xs-9">
      <button pButton type="submit" class="btn-primary" label="บันทึก"></button>
      <button pButton type="button" class="btn-primary" label="ล้างข้อมูล"></button>
      <button pButton type="button" class="btn-primary" label="กลับ" style="float:right;"></button>
    </div>
  </div>

</div>

<div class="content">
    <div class="content-header-blue">
      <p>ผู้ให้การสนับสนุนทุนการศึกษา</p>
      <div class="underline-blue"></div>
</div>

<div class="row">
  <div class="col-xs-12">
  <div class="col-xs-12">
      <div class="col-xs-7">
        <label class="normal">ชื่อผู้สนับสนุน</label>
        <div>
          <input name="inputTextName" type="text" size="40" pInputText>
        </div>
      </div>
      <div class="col-xs-5">
        <label class="normal">สถานะ *</label>
        <div>
          <p-dropdown name="status" [options]="statusList" [style]="{'width':'150px'}">
          </p-dropdown>
        </div>
      </div>
</div>

<div class="row"></div>
<div class="row formFooter">
  <div class="col-xs-12">
    <button pButton type="submit" class="btn-primary" label="ค้นหา"></button>
    <button pButton type="reset" class="btn-primary" label="ล้างข้อมูล"></button>
    <button pButton type="button" class="btn-primary" label="เพิ่ม" style="float:right;"></button>
  </div>
</div>
</div>

<div class="row"></div>
<div class="col-xs-12">
    <p-dataTable [value]="sponsorsFormList"
                 selectionMode="single"
                 [(selection)]="selectedSponsors"
                 [rows]="10"
                 [paginator]="true"
                 [rowsPerPageOptions]="[5,10,20]"
                 sortMode="multiple"
                 (onRowSelect)="onRowSelect($event)">

      <p-column [sortable]="true" [style]="{'width':'80px'}"
                field="sponsors.sponsorsRef"
                header="ลำดับ"></p-column>
      <p-column [sortable]="true" [style]="{'width':'150px'}"
                field="sponsors.sponsorsName"
                header="ชื่อผู้สนับสนุน"></p-column>
      <p-column [sortable]="true" [style]="{'width':'300px'}"
                field="sponsors.address"
                header="ที่อยู่"></p-column>
      <p-column [sortable]="true" [style]="{'width':'110px'}"
                field="sponsors.phoneNo"
                header="เบอร์โทรศัพท์"></p-column>
      <p-column [sortable]="true" [style]="{'width':'80px'}"
                field="sponsors.activeFlag"
                header="สถานะ"></p-column>
    </p-dataTable>
  </div>






</div>
</div>
