<div class="content-header-blue">
  <p>ผู้ให้การสนับสนุนทุนการศึกษา</p>
  <div class="underline-blue"></div>

</div>

<!-- mode insert -->
<div class="content"
     *ngIf="mode !== 'S'">


  <p-growl [(value)]="msgs"></p-growl>
  <!-- mode insert -->
  <form [formGroup]="sponsorsFormGroup"
        (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-xs-9">
        <div class="col-xs-9">
          <label class="normal">ชื่อผู้สนับสนุน *</label>
          <div>
            <input formControlName="sponsors_name" name="sponsors_name"
            type="text" id="sponsorsName" maxlength="40" size="40"
            pInputText>
          </div>
        </div>

        <div class="col-xs-3">
          <label class="normal">สถานะ *</label>
          <div>
            <p-dropdown name="status" [options]="dropdownList" [(ngModel)]="sponsorsForm.smSponsors.active_flag" formControlName="active_flag" [style]="{'width':'110px'}">
            </p-dropdown>
          </div>
        </div>


        <div class="col-xs-12">
          <label class="normal">ที่อยู่ *</label>
          <div>
            <input address="inputTextAddress"
                   type="text"
                   size="74"
                   maxlength="74"
                   id="address"
                   formControlName="address"
                   pInputText>
          </div>
        </div>

        <div class="col-xs-6 normal">
          <label class="normal">จังหวัด *</label>
          <div>
            <p-autoComplete formControlName="province"
                            name="autocompleteProvince"
                            field="province_name_t"
                            [(ngModel)]="sponsorsForm.rftProvince"
                            [suggestions]="rftProvinces"
                            (completeMethod)="autocompleteMethodProvince($event)"
                            [size]="28"
                            (onSelect)="selectProvince()"
                            forceselection="true"
                            [dropdown]="true"
                            (onDropdownClick)="handleCompleteClickProvince($event)">
              <ng-template let-obj
                           pTemplate="obj">
                {{obj.province_name_t}}
              </ng-template>
            </p-autoComplete>
          </div>
        </div>

        <div class="col-xs-6 normal">
          <label class="normal">อำเภอ *</label>
          <div>
            <p-autoComplete formControlName="district"
                            name="autocompleteDistrict"
                            field="district_name_t"
                            [(ngModel)]="sponsorsForm.rftDistrict"
                            [suggestions]="rftDistricts"
                            [size]="28"
                            [dropdown]="true"
                            field="district_name_t"
                            [disabled]="sponsorsForm.rftProvince.province_ref == null"
                            (onSelect)="selectDistrict()"
                            forceSelection="true"
                            (onDropdownClick)="handleDistrictClick($event)"
                            (completeMethod)="autocompleteMethodDistrict($event)">
                            <ng-template let-obj pTemplate="obj">
                            {{obj.district_name_t}}
                            </ng-template>
            </p-autoComplete>
          </div>
        </div>

        <div class="col-xs-6 normal">
          <label class="normal">ตำบล *</label>
          <div>
            <p-autoComplete formControlName="sub_district"
                            name="sub_district"
                            field="sub_district_name_t"
                            [(ngModel)]="rftSubDistrict"
                            [suggestions]="rftSubDistricts"
                            (completeMethod)="autocompleteMethodSubDistrict($event)"
                            [size]="28"
                            [dropdown]="true"
                            [disabled]="sponsorsForm.rftDistrict.district_ref == null"
                            (onSelect)="selectSubDistrict()"
                            forceSelection="true"
                            (onDropdownClick)="handleSubDistrictClick($event)">
              <ng-template let-obj
                           pTemplate="obj">
                {{obj.sub_district_name_t}}
              </ng-template>
            </p-autoComplete>
          </div>
        </div>
        <div class="col-xs-6 normal">
          <label class="normal">รหัสไปรษณีย์</label>
          <div>
            <input name="postcode" id="postcode"
            formControlName="postcode" maxlength="20"
            type="text" size="20" disabled="true"
            [(ngModel)]="postcode"
            pInputText>
          </div>
        </div>

        <div class="col-xs-6 normal">
          <label class="normal">เบอร์โทรศัพท์ *</label>
          <div>
            <input type="text"
                   name="phone_no"
                   formControlName="phone_no"
                   size="25"
                   maxlength="25"
                   pInputText>
          </div>
        </div>

        <div class="col-xs-6 normal">
          <label class="normal">อีเมลล์</label>
          <div>
            <input type="text" name="email" id="email" maxlength="33" size="33" formControlName="email" [(ngModel)]="sponsorsForm.smSponsors.email" pInputText>
          </div>
        </div>

        <div class="col-xs-12 normal">
          <label class="normal">เว็บไซต์ที่ติดต่อได้</label>
          <div>
            <input name="website"
                   type="text"
                   size="31"
                   maxlength="31"
                   id="website"
                   formControlName="website"
                   pInputText>
          </div>
        </div>


      </div>


      <div class="col-xs-3">
        <div class="col-xs-12">
          <img src="{{ image }}"
               class="image-preview">
        </div>
        <div class="col-xs-12" style="text-align:center;">
        <label pButton
        class="btn-positive"
        label="เลือกไฟล์"
        (change)="onUpload($event)">
        <input type="file" accept="image/*, application/pdf" class="display-none">
        </label>
        </div>
      </div>

      <div class="row"></div>
      <div class="row formFooter">
        <div class="col-xs-9">
          <button pButton
                  type="submit"
                  class="btn-primary"
                  label="บันทึก"></button>
          <button pButton
                  type="reset"
                  class="btn-primary"
                  (click)="onResetEdit();"
                  label="ล้างข้อมูล"></button>
          <button pButton
                  type="button"
                  class="btn-primary"
                  (click)="onPageSearch()"
                  label="กลับ"
                  style="float:right;"></button>
        </div>
      </div>
    </div>
  </form>
</div>








<!--mode search -->
<div class="content"
     *ngIf="mode === 'S'">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <div class="col-xs-7">
          <label class="normal">ชื่อผู้สนับสนุน</label>
          <div>
            <input  name="sponsors_name" type="text" id="sponsorsName" maxlength="40" size="40" [(ngModel)]="sponsorsCriteriaForm.smSponsors.sponsors_name"
              pInputText>
          </div>
        </div>
        <div class="col-xs-5">
          <label class="normal">สถานะ *</label>
          <div>
            <p-dropdown name="dropdownName"
            [options]="dropdownList"
            [(ngModel)]="sponsorsCriteriaForm.smSponsors.active_flag"
            [style]="{'width':'150px'}">
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="row"></div>
      <div class="col-xs-12 formFooter">
        <div class="col-xs-12">
          <button pButton
                  type="button"
                  (click)="onSearch()"
                  class="btn-primary"
                  label="ค้นหา"></button>
          <button pButton
                  type="button"
                  class="btn-primary"
                  (click)="onResetSearch()"
                  label="ล้างข้อมูล"></button>
          <button pButton
                  type="button"
                  class="btn-primary"
                  (click)="onPageInsert()"
                  label="เพิ่ม"
                  style="float:right;"></button>
        </div>
        <div class="row space"></div>
        <div class="col-xs-12">
          <p-dataTable [value]="sponsorsFormList"
                       selectionMode="single"
                       [(selection)]="selectSponsors"
                       [rows]="10"
                       [paginator]="true"
                       [rowsPerPageOptions]="[5,10,20]"
                       sortMode="multiple"
                       dataKey="smSponsors.sponsors_ref"
                       (onRowSelect)="onRowSelect($event)">

            <p-column [sortable]="true"
                      [style]="{'width':'80px'}"
                      field="index"
                      header="ลำดับ"></p-column>
            <p-column [sortable]="true"
                      [style]="{'width':'150px'}"
                      field="smSponsors.sponsors_name"
                      header="ชื่อผู้สนับสนุน"></p-column>
            <p-column [sortable]="true"
                      [style]="{'width':'300px'}"
                      field="smSponsors.address"
                      header="ที่อยู่"></p-column>
            <p-column [sortable]="true"
                      [style]="{'width':'110px'}"
                      field="smSponsors.phone_no"
                      header="เบอร์โทรศัพท์"></p-column>
            <p-column [sortable]="true"
                      [style]="{'width':'80px'}"
                      field="smSponsors.active_flag"
                      header="สถานะ"></p-column>
          </p-dataTable>
        </div>
      </div>

  </div>
</div>
</div>
