<div class="content">
    <div class="row">
        <div class="col-xs-6">
            <label class="normal">ผู้ปกครอง</label>
        </div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">สถานะความสัมพันธ์</label>
        </div>
        <div class="col-xs-6">
            <label class="normal-inline">เหตุผล</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="content-header-blue-normal">บิดา</div>
            <div class="underline-blue"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">เลขประจำตัวประชาชน</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">สถานะ</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">ชื่อ - สกุล</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">วันเกิด</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">ที่อยู่</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">จังหวัด</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">อำเภอ</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">ตำบล</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">รหัสไปรษณีย์</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">เบอร์โทรศัพท์</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">อีเมลล์</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">อาชีพ</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">ตำแหน่ง</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">สถานที่ทำงาน</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">แฟกต์</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">ที่ดิน</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">รายได้เฉลี่ยต่อเดือน</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="content-header-blue-normal">มารดา</div>
            <div class="underline-blue"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">เลขประจำตัวประชาชน</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">สถานะ</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">ชื่อ - สกุล</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">วันเกิด</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">ที่อยู่</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">จังหวัด</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">อำเภอ</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">ตำบล</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">รหัสไปรษณีย์</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">เบอร์โทรศัพท์</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">อีเมลล์</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">อาชีพ</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">ตำแหน่ง</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">สถานที่ทำงาน</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">แฟกต์</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">ที่ดิน</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">รายได้เฉลี่ยต่อเดือน</label>
        </div>
    </div>
</div>