<div class="content"
     *ngIf="mode !== 'S'">
  <div class="content-header-blue">
    <p>ทุนการศึกษา</p>
    <div class="underline-blue"></div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <label class="normal">ผู้ให้ทุนการศึกษา</label>

      <div>
        <p-autoComplete name="autocompleteName"
                        field="autoName"
                        [(ngModel)]="autocompleteObj"
                        [suggestions]="autocompleteList"
                        (completeMethod)="autocompleteMethod($event)"
                        [size]="20"
                        [dropdown]="true"
                        forceSelection="true"
                        (onDropdownClick)="handleCompleteClick($event)">
          <ng-template let-obj
                       pTemplate="item">
            {{obj.autoName}}
          </ng-template>
        </p-autoComplete>
      </div>
    </div>

    <div class="col-xs-2 col-sm-offset-1">
      <label class="normal">สถานะ</label>
      <div>
        <p-dropdown name="dropdownName"
                    [options]="dropdownList"
                    [(ngModel)]="dropdownValue"
                    [style]="{'width':'200px'}">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">

      <label class="normal">ชื่อทุนการศึกษา *</label>
      <div>
        <input [(ngModel)]="textStr"
               name="inputTextName"
               type="text"
               size="45"
               pInputText>
      </div>
    </div>

    <div class="col-xs-3 col-sm-offset-1">
      <label class="normal">ประเภททุนการศึกษา</label>
      <div>
        <p-dropdown name="dropdownName"
                    [options]="dropdownList"
                    [(ngModel)]="dropdownValue"
                    [style]="{'width':'200px'}">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <label class="normal">รายละเอียด</label>
      <div>
        <textarea pInputTextarea
                  name="textareaName"
                  [(ngModel)]="textareaValue"
                  autoResize="autoResize"
                  cols="100"
                  rows="5">
          </textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <label class="normal">จำนวนทุน *</label>
      <div>
        <input [(ngModel)]="textStr"
               name="inputTextName"
               type="text"
               size="20"
               pInputText>
      </div>
    </div>

    <div class="col-xs-3">
      <label class="normal">จำนวนเงิน/ทุน (บาท) *</label>
      <div>
        <input [(ngModel)]="textStr"
               name="inputTextName"
               type="text"
               size="25"
               pInputText>
      </div>
    </div>
  </div>

  <div class="row formFooter">
    <button pButton
            type="submit"
            class="btn-positive"
            label="บันทึก"></button>
    <button pButton
            type="button"
            class="btn-normal"
            label="รีเซ็ท"></button>
    <button pButton
            type="button"
            style="float:right;"
            class="btn-negative"
            label="กลับ"></button>
  </div>
</div>

<!-- Mode search!-->
<div class="content"
     *ngIf="mode === 'S'">
  <div class="content-header-blue">
    <p>ทุนการศึกษา</p>
    <div class="underline-blue"></div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <label class="normal">ผู้ให้ทุนการศึกษา</label>
      <div>
        <p-autoComplete name="sponsors_name"
                        field="sponsors_name"
                        [(ngModel)]="sponsors"
                        [suggestions]="sponsorsList"
                        (completeMethod)="autocompleteMethod($event)"
                        [size]="50"
                        [dropdown]="true"
                        (onDropdownClick)="handleCompleteClick($event)">
          <ng-template let-obj
                       pTemplate="item">
            {{obj.sponsors_name}}
          </ng-template>
        </p-autoComplete>
      </div>
    </div>

    <div class="col-xs-2">
      <label class="normal">สถานะ</label>
      <div>
        <p-dropdown name="active_flag"
                    [options]="statusList"
                    [(ngModel)]="scholarshipCriteriaForm.smScholarship.active_flag"
                    [style]="{'width':'150px'}">
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-3 ">
      <label class="normal">ประเภททุนการศึกษา</label>
      <div>
        <!-- <p-dropdown name="scholarship_type"
                    [options]="scholarship_type"
                    [(ngModel)]="typeList"
                    [style]="{'width':'200px'}">
        </p-dropdown> -->
      </div>
    </div>
    <div class="col-xs-6 col-sm-offset-1">
      <label class="normal">ชื่อทุนการศึกษา *</label>
      <div>
        <input class="normal"
               [(ngModel)]="scholarshipCriteriaForm.smScholarship.scholarship_name"
               type="text"
               name="scholarship_name"
               id="scholarshipName"
               size="50"
               maxlength="50"
               pInputText>
      </div>
    </div>
  </div>

  <div class="space"></div>
  <div class="row">
    <button pButton
            type="button"
            class="btn-normal"
            label="ค้นหา"
            (click)="onSearch()"></button>
    <button pButton
            type="button"
            class="btn-normal"
            label="รีเซ็ท"></button>
    <button pButton
            type="button"
            style="float:right;"
            class="btn-negative"
            label="กลับ"></button>
  </div>
  <div class="space"></div>
  <div class="row">
    <p-dataTable [value]="scholarshipFormList"
                 selectionMode="single"
                 [(selection)]="selectScholarship"
                 [rows]="10"
                 [paginator]="true"
                 [rowsPerPageOptions]="[5,10,20]"
                 sortMode="multiple"
                 dataKey="smScholarship.scholarship_ref"
                 (onRowSelect)="onRowSelect($event)">

      <p-column [sortable]="true"
                [style]="{'width':'80px'}"
                field="index"
                header="ลำดับ"></p-column>
      <p-column [sortable]="true"
                [style]="{'width':'150px'}"
                field="smSponsors.sponsors_name"
                header="ชื่อผู้สนับสนุน"></p-column>
      <p-column [sortable]="true"
                [style]="{'width':'100px'}"
                field="smScholarship.scholarship_type"
                header="ประเภททุนการศึกษา"></p-column>
      <p-column [sortable]="true"
                field="smScholarship.scholarship_name"
                [style]="{'width':'300px'}"
                header="ชื่อทุนการศึกษา"></p-column>
      <p-column [sortable]="true"
                [style]="{'width':'80px'}"
                field="smScholarship.active_flag"
                header="สถานะ"></p-column>
    </p-dataTable>
  </div>

</div>
