<div class="content">
  <div class="content-header-blue">
    <p>บันทึกข้อมูลเอกสารเพิ่มเติม</p>
    <div class="underline-blue"></div>
  </div>
</div>

<div class="container">
  <p-dataScroller [value]="documentList" [rows]="10" [lazy]="true">
    <ng-template let-doc pTemplate="item">
      <div class="ui-grid ui-grid-responsive ui-fluid">
        Application Code: {{doc.apApplication.application_code}}
      </div>
      <div class="ui-grid ui-grid-responsive ui-fluid">
        {{doc.smScholarship.scholarship_name}}
      </div>
      <div class="ui-grid ui-grid-responsive ui-fluid">
        Message: {{doc.smDocumentRequest.message}}
      </div>
      <div class="ui-grid ui-grid-responsive ui-fluid">
        Request document(s):
      </div>     
      <div class="ui-grid ui-grid-responsive ui-fluid">
          <p-dataList [value]="doc.smDocumentRequestDetail">
              <ng-template let-detail pTemplate="item">
                <div class="ui-grid ui-grid-responsive ui-fluid content-layout">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-1 doc-detail-checkbox">
                      <input type="checkbox" >
                    </div>
                    <div class="ui-grid-col-11">
                        {{detail.document_request_detail_ref}}
                    </div>
                  </div>
                </div>
                 
              </ng-template>
          </p-dataList>
                 
      </div>
    </ng-template>
  </p-dataScroller>
</div>