<div class="content">
  <div class="row">
    <div class="col-xs-12">
      <label for="" class="normal">ที่อยู่</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label for="" class="normal">จังหวัด</label>
    </div>
    <div class="col-xs-6">
      <label for="" class="normal">อำเภอ</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label for="" class="normal">ตำบล</label>
    </div>
    <div class="col-xs-6">
      <label for="" class="normal">รหัสไปรษณีย์</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="" class="normal">แผนที่</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="content-header-blue-normal">ที่อยู่ปัจจุบัน</div>
      <div class="underline-blue"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="" class="normal">ที่อยู่</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label for="" class="normal">จังหวัด</label>
    </div>
    <div class="col-xs-6">
      <label for="" class="normal">อำเภอ</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <label for="" class="normal">ตำบล</label>
    </div>
    <div class="col-xs-6">
      <label for="" class="normal">รหัสไปรษณีย์</label>
    </div>
  </div>
</div>
