<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">ที่อยู่</label> {{applyScholarship.applyScholarshipForm.acAddress.home_address}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">จังหวัด</label> {{applyScholarship.applyScholarshipForm.acAddress.home_province}}
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">อำเภอ</label> {{applyScholarship.applyScholarshipForm.acAddress.home_district}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">ตำบล</label> {{applyScholarship.applyScholarshipForm.acAddress.home_sub_district}}
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">รหัสไปรษณีย์</label> {{applyScholarship.applyScholarshipForm.acAddress.home_postcode}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">แผนที่</label> {{applyScholarship.applyScholarshipForm.acAddress.direction_image}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="content-header-blue-normal">ที่อยู่ปัจจุบัน</div>
            <div class="underline-blue"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="" class="normal">ที่อยู่</label> {{applyScholarship.applyScholarshipForm.acAddress.current_address}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">จังหวัด</label> {{applyScholarship.applyScholarshipForm.acAddress.current_province}}
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">อำเภอ</label> {{applyScholarship.applyScholarshipForm.acAddress.current_district}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="" class="normal">ตำบล</label> {{applyScholarship.applyScholarshipForm.acAddress.current_sub_district}}
        </div>
        <div class="col-xs-6">
            <label for="" class="normal">รหัสไปรษณีย์</label> {{applyScholarship.applyScholarshipForm.acAddress.current_postcode}}
        </div>
    </div>
</div>