
<div class="content">
  <div class="content-header-blue">
    <p>ข้อมูลครอบครัวและที่อยุ่</p>
    <div class="underline-blue"></div>
  </div>

  <form [formGroup]="thisFormGroup"
  (ngSubmit)="onSubmit()">
  <div class="content-box" id="parent-box">
    <div class="content-header-blue">
      <p>ผู้ปกครอง</p>
      <div class="underline-blue"></div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">ผู้ปกครอง</label>
        <div class="col-xs-12">
          <p-radioButton
            name="parent"
            inputId="opt1"
            value="1"
            label="บิดา-มารดา"
            formControlName="parent_flag">
          </p-radioButton>
          <p-radioButton
            name="parent"
            inputId="opt2"
            value="2"
            label="ผู้อุปการะ"
            formControlName="parent_flag">
          </p-radioButton>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">สถานภาพครอบครัว</label>
        <div class="col-xs-12">
          <p-radioButton
            name="relationship"
            inputId="opt1"
            value="1"
            label="สมรสและอยู่ด้วยกัน"
            formControlName="relationship_status">
          </p-radioButton>
        </div>
        <div class="col-xs-5">
          <p-radioButton
            name="relationship"
            inputId="opt2"
            value="2"
            label="สมรสแต่ไม่ได้อยู่ด้วยกัน"
            formControlName="relationship_status">
          </p-radioButton>
        </div>
        <div class="col-xs-7">
          <label class="normal-inline">เนื่องจาก</label>
          <input
          type="text" pInputText
          class="relationship-remark label-inline"
          formControlName="because">
        </div>
        <div class="col-xs-12">
          <p-radioButton
            name="relationship"
            inputId="opt3"
            value="3"
            label="หย่าร้าง"
            formControlName="relationship_status">
          </p-radioButton>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box" id="father-box">
    <div class="content-header-blue">
      <p>บิดา</p>
      <div class="underline-blue"></div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <label class="normal">เลขประจำตัวประชาชน</label>
        <input type="text" pInputText name="father_pid"
          class="personal-id"
          formControlName="father_pid">
      </div>
      <div class="col-xs-7">
        <label class="normal">สถานะ</label>
        <div class="col-xs-6">
          <p-radioButton
            name="father_status"
            value="1"
            label="มีชีวิตอยู่"
            formControlName="father_status">
          </p-radioButton>
          <p-radioButton
            name="father_status"
            value="2"
            label="เสียชีวิต"
            formControlName="father_status">
          </p-radioButton>
        </div>
        <div class="col-xs-6">
          <label class="normal-inline">เมื่อ พ.ศ.</label>
          <input type="text" pInputText
            name="father-die-year"
            class="input-year"
            formControlName="Father_died_year">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <label class="normal">ชื่อ-นามสกุล</label>
        <input type="text" pInputText
          class="input-name"
          name="father-name"
          formControlName="father_name">
      </div>
      <div class="col-xs-7">
        <label class="normal">วันเกิด(เดือน/วัน/ปี)</label>
        <div>
          <p-dropdown
            name="fatherBirthMonth"
            laceholder="เดือน"
            optionField="birth-month"
            [options]="dadDropdownMonths"
            [(ngModel)]="dadMonth"
            (onChange)="selectMonth()"
            formControlName="fatherBirthMonth">
          </p-dropdown>
          <p-dropdown
            laceholder="วัน"
            optionField="birth-day"
            [options]="dadDropdownDays"
            [(ngModel)]="dadDay"
            [disabled]="!dadMonth"
            name="fatherBirthDay"
            formControlName="fatherBirthDay">
          </p-dropdown>
          <input type="number" pInputText
            class="input-year"
            name="fatherBirthYear"
            minlength="4"
            maxlength="4"
            placeholder="ปี พ.ศ."
            formControlName="fatherBirthYear">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">ที่อยู่</label>
        <input type="text" pInputText
        class="input-address"
        name="father-address"
        formControlName="father_address">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <label class="normal">จังหวัด</label>
        <p-autoComplete
            formControlName="province"
            name="autocompleteProvince"
            field="province_name_t"
            [(ngModel)]="thisForm.rftProvince"
            [suggestions]="provinceList"
            (completeMethod)="autocompleteProvince($event)"
            [size]="25"
            (onSelect)="selectProvince()"
            forceselection="true"
            [dropdown]="true"
            (onDropdownClick)="handleCompleteClickProvince()">
          <ng-template let-obj pTemplate="obj">
            {{obj.province_name_t}}
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="col-xs-7">
        <label class="normal">อำเภอ</label>
        <p-autoComplete
            formControlName="district"
            name="autocompleteDistrict"
            field="district_name_t"
            [(ngModel)]="thisForm.rftDistrict"
            [suggestions]="districtList"
            [size]="25"
            [dropdown]="true"
            field="district_name_t"
            [disabled]="!thisForm.rftProvince.province_ref"
            (onSelect)="selectDistrict()"
            forceSelection="true"
            (onDropdownClick)="handleCompleteClickDistrict()"
            (completeMethod)="autocompleteDistrict($event)"
            >
          <ng-template let-obj pTemplate="obj">
            {{obj.district_name_t}}
          </ng-template>
        </p-autoComplete>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <label class="normal">ตำบล</label>
        <p-autoComplete
            formControlName="subdistrict"
            name="sub_district"
            field="sub_district_name_t"
            [(ngModel)]="thisForm.rftSubDistrict"
            [suggestions]="subDistrictList"
            (completeMethod)="autocompleteSubDistrict($event)"
            [size]="25"
            [dropdown]="true"
            [disabled]="!thisForm.rftDistrict.district_ref"
            (onSelect)="selectSubDistrict()"
            forceSelection="true"
            (onDropdownClick)="handleCompleteClickSubDistrict()">
          <ng-template let-obj pTemplate="obj">
            {{obj.sub_district_name_t}}
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="col-xs-7">
        <label class="normal">รหัสไปรษณีย์</label>
        <input type="text" pInputText
          class="input-postcode"
          name="father-postcode"
          formControlName="father_postcode"

          >
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <label class="normal">เบอร์โทรศัพท์</label>
        <input type="text" pInputText
        class="input-postcode"
        name="father-postcode"
        formControlName="father_phone">
      </div>
      <div class="col-xs-7">
        <label class="normal">อีเมล</label>
        <input type="text" pInputText
        class="input-postcode"
        name="father-postcode"
        formControlName="father_email">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <label class="normal">อาชีพ</label>
        <input type="text" pInputText
        class="input-postcode"
        name="father-postcode"
        formControlName="father_occupation">
      </div>
      <div class="col-xs-7">
        <label class="normal">ตำแหน่ง</label>
        <input type="text" pInputText
        class="input-postcode"
        name="father-postcode"
        formControlName="father_position">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">สถานที่ทำงาน</label>
        <input type="text" pInputText
        class="input-address"
        name="father-workaddress"
        formControlName="father_work_address">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
        <input type="text" pInputText
        class="input-postcode"
        name="father-postcode"
        formControlName="father_work_phone">
      </div>
      <div class="col-xs-7">
        <label class="normal">แฟ็กซ์</label>
        <input type="text" pInputText
        class="input-postcode"
        name="father-postcode"
        formControlName="father_work_fax">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <label class="normal">มีที่ดิน</label>
        <div class="col-xs-12">
          <p-radioButton
          name="father-land-status"
          value="1"
          label="ไม่มี"
          formControlName="father_land_flag">
        </p-radioButton>
        </div>
        <div class="col-xs-3">
          <p-radioButton
          name="father-land-status"
          value="2"
          label="มี"
          formControlName="father_land_flag">
        </p-radioButton>
        </div>
        <div class="col-xs-3">
          <label class="normal-inline">จำนวน</label>
          <input type="text" pInputText
            class="land-amt"
            name="father-land-amt"
            formControlName="father_land_all">
          <label class="normal-inline">ไร่</label>
        </div>
        <div class="col-xs-3">
          <label class="normal-inline">เป็นเจ้าของ</label>
          <input type="text" pInputText
            class="land-amt"
            name="father-land-amt"
            formControlName="father_land_own">
          <label class="normal-inline">ไร่</label>
        </div>
        <div class="col-xs-3">
          <label class="normal-inline">เช่า</label>
          <input type="text" pInputText
            class="land-amt"
            name="father-land-amt"
            formControlName="father_land_rent">
          <label class="normal-inline">ไร่</label>
        </div>
      </div>
    </div>

  </div>
</form>

    <div class="row"></div>
    <div class="row formFooter">
      <div class="col-xs-12" style="text-align:right">
        <button pButton type="button" class="btn-primary" label="ย้อนกลับ"></button>
        <button pButton type="button" class="btn-primary" label="ถัดไป"></button>
        <button pButton type="button" class="btn-primary" label="บันทึก"></button>
      </div>
    </div>

</div>
