.content-box{
  padding:10px;
  width:100%;
  display:inline-block;
}
/* .input-year {
  width:100px;
}
.input-name{
  width:250px;
}
.input-address{
  width:700px;
}
.input-postcode{
  width:70px;
}
.input-phone{
  width:150px;
}
.input-occupation, .input-position, .input-mail{
  width:300px;
} */

.land-amt{
  width:100px;
  text-align: right;
}
.input-income{
  width:120px;
  text-align:right;
}
.fake-label{
  display: block;
  height: 35px;
}


.sibling-list .ui-datalist .ui-datalist-content ul li:not(.ui-dropdown-item) {
  background: rgba(206, 206, 206, 0.2);
  padding: 20px;
  margin-top: 5px;
}

.panel-header{
  height: 40px;
}
.panel-header-title{
  float: left;
  font-size: 20px;
  font-weight: 600;
  color: #224a86;
  padding-top: 10px;
}

.home-direction-img{
  width: 100%;
  margin-top: 20px;
}
